@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-family: 'Ubuntu', sans-serif;
    --main-text-color: #222; /* rgb(34, 34, 34) */
    --accent-color: #f6c43d; /* rgb(246, 196, 61) */
    --hover-button-color: rgb(16, 136, 228); /* #1088e4 */
    --white-text-color: #fff; /* rgb(255, 255, 255) */
    --grey-text-color: #666; /* rgb(102, 102, 102) */
    --light-grey-text-color: #b7b7b7;
    
    /* Yurii Ubohyi: пропоную використати іншу назву деяких змінних
    --main-dark-text-color натомість --main-text-color 
    --main-light-text-color натомість --white-text-color */

    --main-dark-text-color: #222; /* rgb(34, 34, 34) */
    --main-light-text-color: #fff; /* rgb(255, 255, 255) */
    --subtitle-light-color: rgba(255, 255, 255, 0.67); /* transperent white text color*/
    --description-light-color: #b3b3b3; /* rgb(179, 179, 179) */
    --description-dark-color: #898989; /* rgb(137, 137, 137) */

    --main-font: "Ubuntu", sans-serif;
    --title-font: "Barlow Condensed", sans-serif;
    
    --bs-body-font-family: 'Ubuntu', sans-serif; /* перепризначив шрифт bootstrap, має бути такий як --main-font 
    не знаю чи можна тут змінній призначати іншу змінну, vs code не підсвічує синтаксис */
}

h1 {
    color: var(--accent-color);
}

.section-title {
    box-sizing: border-box;
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 22.4px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

body {
    background-color: rgb(246, 246, 246);
}

/*
Тимчасово не використовується
img {
    display: block;
    width: 100%;
}
*/