@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-family: 'Ubuntu', sans-serif;
    --main-text-color: rgb(0, 0, 0);
    --accent-color: rgb(246,196,61);
}

h2 {
    font-size: 65px;
    color: #222;
    line-height: 1;
    font-family: Barlow Condensed,sans-serif;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}
/*
Тимчасово не використовується
img {
    display: block;
    width: 100%;
}
*/


