.rates {
    background-image: url(../img/picture_rates__background.png);
    padding-top: 90px;
    padding-bottom: 90px;
    min-width: 320px;
}

.rates__section_title {
    color: var(--accent-color);
    font-family: var(--main-font);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 22.4px;
    text-align: center;
}

.rates__section__title {
    color: rgb(255, 255, 255);
    font-family: var(--main-font);
}

.rates__section-title {
    color: var(--accent-color);
    font-family: var(--main-font);
}

.rates__tittle {
    box-sizing: border-box;
    color: var(--main-text-color);
    font-family: var(--title-font);
    font-style: normal;
    font-size: 65px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.rates__subtitle {
    max-width: 770px;
    margin: auto;
    box-sizing: border-box;
    color: rgb(137, 137, 137);
    font-size: 20px;
    letter-spacing: -.022em;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    vertical-align: baseline;
}

.rates__section_subtitle {
    font-size: 50px;
    font-family: var(--title-font);
    color: var(--main-text-color);
    font-style: normal;
    font-size: 65px;
    font-weight: 700;
    line-height: 65px;
}
.rates__sectionSubtitle {
    font-size: 50px;
    font-family: var(--title-font);
    color: rgb(255, 255, 255);;
    font-style: normal;
    font-size: 65px;
    font-weight: 700;
    line-height: 65px;
}
.rates__section_Subtitle {
    color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    line-height: 1.62;
    font-weight: 400;
    margin-top: 20px;
}

.rates__section__subtitle {
    color: rgb(137, 137, 137);
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    line-height: 1.62;
    font-weight: 400;
    margin-top: 20px;
}

.rates__icon_list_item {
    font-family: var(--main-font);
    line-height: 30px;
    color: rgb(137, 137, 137);
    font-size: 17px;
    line-height: 1.62;
    font-weight: 400;
    margin-top: 20px;
}
.rates__icon_list__item {
    font-family: var(--main-font);
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 1.62;
    font-weight: 400;
    margin-top: 20px;
}

.button {
    font-family: var(--main-font);
    text-decoration: none;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.rates__button {
    display: block;
    font-size: 17px;
    font-weight: 700;
    padding: 16px 28px;
    text-decoration: none;
    margin-top: 65px;
}

.rates__section-button {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--white-text-color);
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
}

.rates__section-button:hover {
    border: 1px solid var(--hover-button-color);
    background-color: var(--hover-button-color);
    color: var(--white-text-color);
}

.rates__section_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

@media (min-width:768px) {
    .rates__tittle {
        font-size: 52px;
    }

    .rates__section_details {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .retes__section__item {
        width: 50%;
    }
}

@media (min-width:992px) {
    .rates__tittle {
        font-size: 65px;
    }

    .rates__section__item {
        width: 33%;
    }

}

@media (min-width:1200px) {

    .rates__main_content {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .rates__section_details {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.retes__section__item {
    width: 350px;
    height: 550px;
    padding: 15px;
}
.rates__icon_list{
    list-style-type:none;
    list-style-image: url(../img/Picture\ Ok.jpg);
}
.rates__section__item_background-image{
    background-image: url(../img/picture_rates_background_items_luxury.png);
}