h1 {
    color: var(--accent-color);
}

.rent-a-car__section-title {
    box-sizing: border-box;
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 22.4px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.rent-a-car__title {
    font-size: 65px;
    color: #222;
    line-height: 1;
    font-family: Barlow Condensed,sans-serif;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}

.button {
    text-decoration: none;
    padding: 12px 30px 12px 30px; /* Поля навколо тексту */
    border-radius: 20px;
    margin: 10px; /* відступи навкруги */

  }
  .rent-a-car__contacts-button {
    border: 1px solid gold; /* Параметри рамки */
    background-color: gold;
    color: white;
    
  }
  .rent-a-car__best-offer-button {
    border: 1px solid #666; /* Параметри рамки */
    background-color: white;
    color: #666;

  }
  .rent-a-car__contacts-button:hover {
    border: 1px solid blue; /* Параметри рамки */
    background-color: blue;
  }
  .rent-a-car__best-offer-button:hover {
    border: 1px solid black; /* Параметри рамки */
    background-color: black;
    color: white;
  }