.safe-car-rental {
    padding-block: 90px;
    min-width: 320px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.safe-car-rental__info{
    display: flex;
    flex-direction: column;
    margin-block: 50px;
}
.safe-car-rental__paragraf{
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    vertical-align: baseline;
    letter-spacing: 1.4px;
    margin-block: 15px;
}
.safe-car-rental__title{
    color: var(--main-text-color);
    font-family: var(--title-font);
    font-size: 65px;
    margin-block: 15px;
}
.safe-car-rental__important-the-safety{
    font-size: 20px;
    font-weight: bold;  
    margin-block: 20px;
}
.safe-car-rental__security-systems{
    font-size: 18px;
    color:var(--grey-text-color);
    line-height: 29.7px; 
    margin-block: 20px;
}
.safe-car-rental__list{
    font-size: 18px;
    color:var(--grey-text-color);
    line-height: 29.7px;
    margin-block: 15px;
    
}
li.safe-car-rental__list-item{
    list-style-type: none;
}
li.safe-car-rental__list-item:before{
    color: var(--hover-button-color);
    content: url(../img/detail.svg);
    padding-right:7px; 
}
.safe-car-rental__button{
    color: var(--main-light-text-color);
    background-color: var(--hover-button-color);
    display: block;
    width: 144px;
    font-size: 17px;
    font-weight: 700;
    padding: 16px 28px;
    text-decoration: none;
    border-radius: 50px;
    margin-block: 15px;
}
.safe-car-rental__image{ 
width: 470px; 
}
.safe-car-rental__statistics{
    text-align: center;
}
.safe-car-rental__statistics-number{
    color:var(--hover-button-color);
    font-family: var(--title-font);
    font-size: 90px;
    font-weight: bold;
}
.safe-car-rental__statistics-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 29.7px; 
}
.safe-car-rental__statistics-info{
    font-size: 22px;
    color:var(--grey-text-color);
}
@media (min-width:768px) {
    .safe-car-rental{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
grid-column-gap: 40px;
        margin-inline:auto;
    }
    .safe-car-rental__info{
        max-width:470;
    }
}