.send-request {
    padding-top: 90px;
    padding-bottom: 90px;
    min-width: 320px;
    background-image: url("../img/alfaromeo.svg");
    background-size: cover;
    background-position: 50% 50%;
}

.send-request__info {
    background-color: var(--form-background-color);
    box-shadow: 0 5px 11.2px 2.8px var(--form-shadow-color);
    border-radius: 5px 5px 0px 0px;
    padding: 45px 24px 0 24px;
    margin: 0 30px;
}

.send-request__info-subtitle {
    color: var(--accent-color);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 22.4px;
    text-align: center;
}

.send-request__info-title {
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.send-request__info-text {
    font-family: "Ubuntu", sans-serif;
    color: var(--description-dark-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: baseline;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
}

.send-request__form {
    background-color: var(--form-background-color);
    box-shadow: 0 5px 11.2px 0 var(--form-shadow-color);
    border-radius: 0px 0px 5px 5px;
    padding: 25px 24px 40px 24px;
    margin: 0px 30px 0px 30px;
}
.send-request__form-tel,
.send-request__form-email,
.send-request__form-message,
.send-request__form-fullname {
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 0;
    padding: 11px 22px;
    border-bottom-style: solid;
    border-bottom-color: var(--form-input-border-color);
    border-bottom-width: 2px;
    color: var(--form-input-text-color);
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    line-height: 1.2;
}
.send-request__form-tel-error,
.send-request__form-email-error,
.send-request__form-message-error,
.send-request__form-fullname-error{
    min-height: 1.1rem;
    font-size: 0.7rem;
    padding-left: 22px;
    color: var(--error-color);
}
.send-request__form-input-err{
    border-color: var(--error-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}
.send-request__form-button{
    width: 100%;
    margin-top: 56px;
    border-style: none;
    border-radius: 37px;
    background-color: var(--form-button-background);
    color: var(--form-button-text-color);
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    height: 37px;
}
@media (min-width:768px){
    .send-request__form,
    .send-request__info{
        width: 50%;
        padding-left: 68px;
        padding-right: 68px;
    }
    .send-request__info-title{
        font-size: 52px;
    }
    .send-request__info-text{
        margin-left: 16px;
        margin-right: 16px;
    }

}
@media (min-width:992px){
    .send-request {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .send-request__form,
    .send-request__info{
        width: 50%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .send-request__info-title{
        font-size: 65px;
        font-weight: 700px;
    }
}
@media (min-width:1200px){
    .send-request__wrapper{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .send-request__info{
        width: 545px;
    }
    .send-request__form{
        width: 545px;
    }
}