.feedback {
    padding: 110px 0px 120px;
    min-width: 320px;
}

.feedback__container {
    max-width: 1170px;
    min-width: 320px;
    margin: auto;
}

.feedback__section-title {
    box-sizing: border-box;
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 22.4px;
    text-align: center;
}

.feedback__title {
    box-sizing: border-box;
    color: #222;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    /* неможу визначити відступи в макеті виставив приблизно*/
    margin-top: 50px;
    margin-bottom: 10px;
}

.feedback__subtitle {
    font-family: "Ubuntu", sans-serif;
    color: #222;
    font-size: 18px;
    letter-spacing: -.018em;
    text-align: center;
    /* неможу визначити відступи в макеті виставив приблизно*/
    margin-bottom: 50px;
}

.feedback__carousel-slide {
    margin: auto;
}

.slide__image {
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
}

.slide__title {
    font-family: "Barlow Condensed", sans-serif;
    color: #222;
    font-size: 28px;
    text-align: center;
    letter-spacing: -.02em;
    /* неможу визначити відступи в макеті виставив приблизно*/
    margin-top: 50px;
    margin-bottom: 10px;
}

.slide__position {
    font-family: "Ubuntu", sans-serif;
    color: #b3b3b3;
    font-size: 14px;
    font-style: bold;
    /* не застосовується жирний шрифт*/
    letter-spacing: .1em;
    text-align: center;
    /* неможу визначити відступи в макеті виставив приблизно*/
    margin-bottom: 50px;
}

.slide__description {
    font-family: "Ubuntu", sans-serif;
    color: #898989;
    font-size: 17px;
    text-align: center;
    /* неможу визначити відступи в макеті виставив приблизно*/
    margin-bottom: 50px;
}

.slide__post-date {
    font-family: "Ubuntu", sans-serif;
    color: #b3b3b3;
    font-size: 14px;
    letter-spacing: .1em;
    text-align: center;
    /* неможу визначити відступи в макеті виставив приблизно*/
    margin-bottom: 50px;
}