.top-manufacturers {
    padding-top: 120px;
    padding-bottom: 120px;
    min-width: 320px;
    background-color: var(--main-text-color);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top-manufacturers__info {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 370px;
    text-align: left;
    flex-basis: 430px;
    padding: 30px 30px 30px 30px;
}
.top-manufacturers__autobrands-carrousel {
    flex-basis: calc(100% - 430px);;
}
.top-manufacturers__section-title {
    box-sizing: border-box;
    color: var(--accent-color);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 22.4px;
    text-decoration: none;
    text-transform: none;
}
.top-manufacturers__title {
    color: var(--white-text-color);
    font-family: var(--title-font);
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none;
    text-decoration: none;
    padding: 10px;
}
.top-manufacturers__details {
    font-family: var(--main-font);
    font-size: 20px;
    color: var(--light-grey-text-color);
    line-height: 30px;
}